<!DOCTYPE html>
<html>
  <head>
    <title>MadLibs</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>A day in the life of an Epicodus student</h1>
    <p>The alarm went off at @Model.Time. </p>
    <p>It was dreary and dark outside, but @Model.Name had to go to class. </p>
    <p>@Model.Name picked up lots of @Model.Drink and @Model.Verb to class. </p>
    <p>While waiting for @Model.Transportation, a @Model.Noun appeared! @Model.Name decided to avoid the @Model.Noun and took a @Model.AltTransportation to class instead. </p>
    <p>They made it to class just on time and sighed @Model.Exclamation </p>
    <p>The end.</p>
  </body>
</html>