<!DOCTYPE html>
<html>
  <head>
    <title>MadLibs</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <div class="well">
        <h1>A @Model.Adjective weekend trip</h1>
        <p>@Model.Person1 and @Model.Person2 went out for a drive to @Model.Destination for the weekend. On the way, they stopped at @Model.Store to pick up @Model.FoodItem1 and @Model.FoodItem2. In @Model.Store, a wild zombie appeared and screamed "@Model.Exclamation"! @Model.Person2 got spooked, and yelled back "@Model.Yell". The zombie was unfazed and started throwing @Model.Noun1 at @Model.Person1 and @Model.Person2! @Model.Person1 picked up @Model.Noun2 to throw back at the zombie before @Model.Verb out of the store. @Model.Person1 didn't make it out of @Model.Store, and @Model.Person2 had to finish the drive to @Model.Destination alone. At least they had @Model.FoodItem1.</p> 
        <p>The end.</p>
      </div>
    </div>
  </body>
</html>